.App {
    text-align: center;
  }

  .App-header {
    background-color:rgb(1,1,1);
    color: white;
  }
  

  .title {
    
    font-family: "Rubik",sans-serif;
    color: #ffffff;
    font-size: 80px;
    letter-spacing: 20px;
    cursor: pointer;
    filter: blur(5px);
    transition: 0.3s all;
    
 }
 .title:hover{
  filter: blur(0);
 }
 .red{
    color: rgb(177,172,255);
  }